{% extends 'base.html' %}
{% block body %}
{% load static %}
<style>
    .carousel-item img {
        width: 100%;
        height: 800px;
        object-fit: cover;
        /* position: top center; */
        object-position: top center;
    }


    @media (max-width: 768px) {
        .carousel-item img {
            width: 100%;
            height: auto;
        }
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
<div class="carousel w-full my-class">
    <div id="item1" class="carousel-item w-full">
        <img src="{% static 'images/slide-06.webp' %}" alt="My image" class="w-full" />
    </div>
    <div id="item2" class="carousel-item w-full">
        <img src="{% static 'images/slide-01.webp' %}" alt="My image">
    </div>
    <div id="item3" class="carousel-item w-full">
        <img src="{% static 'images/slide-02.webp' %}" alt="My image" class="w-full" />

    </div>
    <div id="item4" class="carousel-item w-full">
        <img src="{% static 'images/slide-03.webp' %}" alt="My image" class="w-full" />

    </div>
</div>
<div class="flex justify-center w-full py-2 gap-2">
    <a href="#item1" class="btn btn-xs">1</a>
    <a href="#item2" class="btn btn-xs">2</a>
    <a href="#item3" class="btn btn-xs">3</a>
    <a href="#item4" class="btn btn-xs">4</a>
</div>

<!-- Vlog post -->

<div class="container mx-auto px-4 my-10">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for vlog in vlog_list %}
        <div class="max-w-sm bg-white border border-gray-300 rounded-lg shadow-lg overflow-hidden flex flex-col transform transition duration-500 hover:scale-105">
            <a href="#">
                <img class="w-full h-48 object-cover" src="{{ vlog.vlog_image.url }}" alt="{{ vlog.vlog_title }}">
            </a>
            <div class="p-5 flex-grow">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 overflow-hidden whitespace-nowrap overflow-ellipsis">{{ vlog.vlog_title }}</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 line-clamp-3">{{ vlog.vlog_descrription|truncatewords:20 }}</p>
            </div>
            <div class="mt-auto p-5 bg-gray-100">
                <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Read more
                    <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6"></path></svg>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let slides = document.getElementsByClassName("carousel-item");
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 3000); // Change image every 4 seconds
    }
</script>
{% endblock %}